<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO liste</title>
</head>
<body>
    {{ tache }} <input type='checkbox' name='id' id='id' /><br/>
</body>
</html>